.owl-carousel.slide {
  margin: 35px 0;

  @include media(lg) {
    margin: 65px 0;
  }

  .item {
    @include media(lg) {
      display: flex;
      gap: 40px;
      align-items: center;
    }
    @include media(lg) {
      height: 400px;
    }
    img {
      width: 100%;
      object-fit: cover;
      border-radius: 5px;
      @include media(md) {
        max-width: 45%;
      }
    }

    span,
    a {
      font-family: $font-family;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      text-align: right;
      color: $color-black;
    }

    h2 {
      font-family: $font-family;
      font-weight: bold;
      font-size: 30px;
      line-height: 34px;
      text-align: left;
      color: $color-bright-red;
      margin-bottom: 20px;
      margin-top: 20px;

      @include media(lg) {
        font-size: 36px;
        line-height: 40px;
      }
    }

    p {
      font-family: $font-family;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      text-align: left;
      color: $color-darker-gray;
    }
  }
}

.home_table {
  .titulo {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    h2 {
      font-size: 18px;
      line-height: 24px;
      font-weight: 700;
      text-align: center;
      color: $color-darker-gray;
      padding: 10px;
      background-color: #ffffff;
      width: 250px;

      @include media(lg) {
        width: initial;
      }
    }

    span {
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $color-bright-red;
      left: 0;
      top: 50%;
      display: block;
      z-index: -1;
    }
  }

  .grid {
    .area {
      border: 1px solid $color-medium-gray;
      padding: 10px;
      margin-bottom: 10px;
    }
  }

  table {
    font-size: 1.2rem;
    width: 100%;
    @include media(lg) {
      font-size: 1.5rem;
    }
    thead {
      tr {
        th {
          color: $color-bright-red;
          text-align: left;
        }
      }
    }
    tbody {
      td,
      th {
        padding: 5px;
      }
      tr {
        margin-top: 10px;
        .column-1 {
          text-align: end;
        }
        td {
          color: $color-darker-gray;
          border: none !important;
        }

        .column-2 {
          font-weight: 700;
        }
      }

      .row-1 {
        td {
          margin-top: 10px;
          font-weight: 700;
          color: $color-bright-red;
        }
      }
    }
  }

  span {
    color: $color-bright-red;
    font-style: italic;
    font-size: 10px;
    display: block;
    text-align: end;

    @include media(lg) {
      font-size: 1.4rem;
    }
  }
}

.home_newllater {
  padding: 45px 0;

  @include media(lg) {
    padding: 75px 0;
  }
}

.home_lista_noticias {
  h2 {
    color: $color-bright-red;
    font-size: 2rem;
    line-height: 2.4rem;
    display: block;
    text-align: center;
    margin-bottom: 35px;

    @include media(lg) {
      font-size: 3rem;
      line-height: 3.4rem;
      margin-bottom: 90px;
    }
  }

  .item {
    display: flex;
    gap: 22px;

    img {
      width: 100%;
      height: 100%;
      max-width: 115px;
      max-height: 65px;
      object-fit: cover;
      border-radius: 6px;

      @include media(lg) {
        max-height: 90px;
      }
    }

    a {
      color: $color-bright-red;
      font-size: 1.2rem;
    }

    h3 {
      color: $color-darker-gray;
      font-size: 1.6rem;
      padding: 10px 0;
      @include media(lg) {
        font-size: 1.8rem;
      }
    }
    span {
      font-size: 1.5rem;
    }
    .data {
      font-size: 1.5rem;
      display: block;
      color: $color-darker-gray;
    }
  }

  .grid-recentes {
    display: grid;
    gap: 22px;
    @include media(lg) {
      grid-template-columns: 2fr 1fr;
    }
    img {
      width: 100%;
    }

    .item {
      margin-top: 10px;
    }
  }

  .video {
    margin-top: 10px;
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.home_lista_rapinhas {
  margin-bottom: 35px;

  @include media(lg) {
    margin-bottom: 60px;
  }

  h2 {
    color: $color-bright-red;
    font-size: 2rem;
    line-height: 2.4rem;
    display: block;
    text-align: center;
    margin: 35px 0;

    @include media(lg) {
      font-size: 3rem;
      line-height: 3.4rem;
      margin: 90px 0;
    }
  }

  .item-rapidinha {
    display: flex;

    gap: 22px;

    img {
      width: 100%;
      height: 100%;
      max-width: 115px;
      max-height: 65px;
      object-fit: cover;
      border-radius: 6px;

      @include media(lg) {
        max-height: 90px;
      }
    }

    a {
      display: block;
      margin-top: 5px;
      font-size: 1.2rem;
      color: $color-darker-gray;
    }

    h3 {
      color: $color-darker-gray;
      font-size: 1.6rem;
      padding: 10px 0;
      @include media(lg) {
        font-size: 1.8rem;
      }
    }

    .data {
      color: $color-bright-red;
      font-size: 1.5rem;
      display: block;
    }
  }
}

.home_newllater {
  .img-banner {
    display: block;
    margin: 0 auto;
  }
  .grid {
    padding: 35px;
    margin-top: 35px;

    @include media(lg) {
      margin-top: 90px;
    }
    background-color: $color-off-white-alt;
    display: grid;
    gap: 25px;
    border-radius: 5px;
    @include media(lg) {
      grid-template-columns: 1.5fr 1fr;
      align-items: center;
    }
    h2 {
      font-size: 2.2rem;

      @include media(lg) {
        font-family: 2.5rem;
      }
      color: $color-bright-red;
    }
    p {
      color: $color-darker-gray;
      margin: 0;
      padding-top: 10px;
    }
    .enviar {
      display: flex;

      input {
        width: 100%;
        padding: 10px;
        border: 1px solid;
        height: 57px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        margin-top: 10px;
        background-color: $color-white;
        color: $color-darker-gray;
        font-size: 1.2rem;
        transition: background-color 0.2s ease;
      }
      button {
        background-color: $color-bright-red;
        color: $color-white;
        font-size: 1.6rem;
        line-height: 2rem;
        padding: 10px 22px;
        transition: all 400ms ease-in;
        margin-top: 10px;
        border: 1px solid $color-bright-red;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        cursor: pointer;
        &:hover {
          @include hoveBtn();
          border: 1px solid $color-red-dark;
        }
      }
    }
  }
}

.home-filmes {
  > h2 {
    color: $color-bright-red;
    font-size: 2rem;
    line-height: 2.4rem;
    display: block;
    text-align: center;
    margin-bottom: 35px;

    @include media(lg) {
      margin-bottom: 90px;
      font-size: 3rem;
      line-height: 3.4rem;
    }
  }
  .grid-filmes {
    margin-bottom: 35px;

    @include media(lg) {
      margin-bottom: 90px;
      display: grid;
      gap: 25px;
      grid-template-columns: 60% 1fr;
    }
    img:not(.publi) {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
    .publi {
      width: 100%;
    }

    .item {
      h3 {
        font-size: 1.4rem;
        color: $color-darker-gray;
        text-align: center;
        padding: 10px 15px;
      }
      .card {
        color: $color-darker-gray;
        width: 100%;
        height: 200px;
        background: #fef3f6;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 5px;

        ul {
          li {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
            span {
              display: block;
              text-align: end;
            }
          }
        }

        .poster {
          overflow: auto;
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 5px;
        }
        .indisponivel {
          position: absolute;
          bottom: 0;
          color: #feadc3;
          font-weight: 500;
          font-size: 1rem;
        }

        h3 {
          font-size: 1.4rem;
          color: $color-darker-gray;
          text-align: center;
          padding: 0 15px;
        }
        &:hover .info {
          display: block;
        }
        .info {
          position: absolute;
          display: none;
          background-color: $color-white;
          border-radius: 5px;
          border: 1px solid $color-bright-red;
          font-size: 1.6rem;
          padding: 10px;
          width: 300px;
          z-index: 999;
          ul {
            li {
              padding: 2.5px;
            }
          }
        }
      }
    }
  }
}
