.grid-list-post {
  @include media(lg) {
    display: grid;
    margin-top: 35px;
    margin-top: 60px;
    grid-template-columns: 2fr 1fr;
  }

  .titulo {
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.4rem;
    text-align: center;
    color: $color-bright-red;
    margin-bottom: 35px;

    @include media(lg) {
      margin-bottom: 20px;
      text-align: left;
    }
  }

  .img-banner {
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
    display: block;
  }

  .logo {
    margin-bottom: 40px;
  }

  #breadcrumbs {
    margin-bottom: 16px;

    a,
    span {
      font-weight: normal;
      font-size: 1.4rem;
      line-height: 2.4rem;
      text-align: left;
      color: $color-darker-gray;
    }
  }

  .posts {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-bottom: 60px;

    img {
      width: 100%;
      object-fit: cover;
      height: 225px;
      margin-bottom: 20px;

      @include media(lg) {
        margin-bottom: 40px;
        height: 450px;
      }
    }

    span {
      a {
        font-weight: bold;
        font-size: 1.6rem;
        line-height: 2.4rem;
        text-align: left;
        color: $color-black;
        margin-bottom: 10px;
      }
    }

    a {
      h2 {
        font-weight: bold;
        font-size: 3rem;
        line-height: 3.4rem;
        text-align: left;
        color: $color-bright-red;

        @include media(lg) {
          font-size: 4rem;
          line-height: 4.4rem;
        }
      }
    }

    p {
      margin-top: 10px;
      font-weight: normal;
      font-size: 1.6rem;
      line-height: 2rem;
      text-align: left;
      color: $color-darker-gray;
    }
  }
}

.aside-info {
  h2 {
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.4rem;
    text-align: center;
    color: $color-bright-red;
    margin-top: 70px;
    margin-bottom: 40px;

    @include media(lg) {
      text-align: left;
    }
  }

  .item {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .item-aside {
    margin-bottom: 40px;

    img {
      width: 100%;
      height: 226px;
    }

    a {
    }

    h3 {
      margin-top: 20px;
      font-weight: bold;
      font-size: 1.6rem;
      line-height: 2rem;
      color: $color-bright-red;
      margin-bottom: 20px;
    }
  }
}
.grid-list-post {
  .aside-boletim {
    h2 {
      font-weight: bold;
      font-size: 2rem;
      line-height: 2.4rem;
      text-align: center;
      color: $color-bright-red;
      margin-top: 70px;
      margin-bottom: 40px;

      @include media(lg) {
        text-align: left;
      }
    }
    .img-banner {
      width: 100%;
      display: block;
      object-fit: cover;
      border-radius: 6px;
      margin-bottom: 20px;
    }
    .aside-item-boletim {
      display: flex;
      flex-direction: column;
      gap: 40px;
      img {
        width: 100%;
        height: 226px;
        object-fit: cover;
        border-radius: 6px;
        margin-bottom: 20px;
      }

      a {
        margin-top: 20px;
        font-weight: bold;
        font-size: 1.6rem;
        line-height: 2rem;
        color: $color-bright-red;
        margin-bottom: 20px;
      }
    }
  }
}
