.padrao,
.post-content {
  .titulo {
    padding: 25px 0;
  }

  h1 {
    font-weight: bold;
    font-size: 3rem;
    line-height: 3.4rem;
    text-align: left;
    color: $color-bright-red;

    @include media(lg) {
      font-size: 4rem;
      line-height: 4.4rem;
    }
  }

  h2 {
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 3.5rem;
    text-align: left;
    color: $color-bright-red;

    @include media(lg) {
      font-size: 3.5rem;
      line-height: 4.4rem;
    }
  }

  h3 {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 3.5rem;
    text-align: left;
    color: $color-bright-red;

    @include media(lg) {
      font-size: 3.1rem;
      line-height: 4.4rem;
    }
  }

  h4,
  h5,
  h6 {
    font-weight: bold;
    font-size: 2.1rem;
    line-height: 2.5rem;
    text-align: left;
    color: $color-bright-red;

    @include media(lg) {
      font-size: 2.8rem;
      line-height: 3.4rem;
    }
  }
  a {
    font-weight: normal;
    font-size: 1.7rem;
    line-height: 2.1rem;
    text-align: left;
    color: $color-bright-red;
    transition: all 200ms ease-in;

    &:hover {
      color: $color-black;
    }
  }
  p,
  address {
    color: $color-darker-gray;
    font-size: 1.6rem;
    line-height: 1.61;
    margin: 20px 0;
  }

  img:not(.woocommerce img) {
    height: 225px;
    object-fit: cover;
    margin: 0 auto;
    display: block;
    @include media(lg) {
      height: 450px;
    }
  }

  ul:not(.woocommerce ul) {
    padding-inline-start: 20px;

    li {
      color: $color-darker-gray;
      font-size: 1.6rem;
      line-height: 1.61;
      margin: 20px 0;
      list-style-type: disc;

      &::marker {
        color: $color-bright-red;
      }

      a {
        font-weight: normal;
        font-size: 1.7rem;
        line-height: 2.1rem;
        text-align: left;
        color: $color-darker-gray;
        transition: all 200ms ease-in;

        &:hover {
          color: $color-black;
        }
      }
    }
  }
  .p-center {
    @include media(lg) {
      padding: 0 25px;
    }
  }

  #breadcrumbs {
    margin: 35px 0px 16px;

    a,
    span {
      font-weight: normal;
      font-size: 1.4rem;
      line-height: 2.4rem;
      text-align: left;
      color: $color-darker-gray;
    }
  }

  .img-anuncie {
    width: 100%;
    height: initial;
  }
}

p {
  color: $color-darker-gray;
  font-size: 1.6rem;
  line-height: 1.61;
  margin: 20px 0;
}

.w-full {
  width: 100%;

  @include media(lg) {
    margin-bottom: 25px;
  }
}

.img-banner {
  display: block;
  margin: 0 auto;
}

.w-full {
  width: 100%;
}

.p-35 {
  @include media(lg) {
    padding-bottom: 35px;
  }
}

.area-btn {
  display: flex;
  justify-content: center;
  padding-top: 35px;
  @include media(lg) {
    padding-top: 90px;
  }
  a {
    background-color: $color-bright-red;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.6rem;
    padding: 5px 10px;
    transition: all 400ms ease;
    cursor: pointer;
    text-align: center;
    &:hover {
      background-color: $color-red-dark;
    }
  }
}

input {
  &::placeholder {
    color: $color-dark-gray !important;
  }
}

span.data,
strong.data {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 10px 0;
  display: block;
  @include media(lg) {
    font-size: 1.6rem;
  }
}

.img-post {
  max-width: 100% !important;
  width: 100% !important;
  @include media(lg) {
    max-height: 370px !important;
  }
}
