.rodape {
  .home_newllater {
    background-color: $color-off-white-alt;
    padding: 35px 0 !important;
    margin: 0 !important;
    .grid {
      padding: 0 !important;
      margin: 0 !important;
    }
    p {
      text-align: left !important;
      font-size: 1.4rem;
      line-height: 1.61;
      font-weight: 400;
      @include media(lg) {
        font-size: 1.6rem;
      }
    }
  }
  .bg-filmeB {
    padding: 70px 0;

    background: linear-gradient(180deg, $color-bright-red, $color-red-dark 90%);

    @include media(lg) {
      padding: 45px 0;
    }
    img {
      display: block;
      margin: 0 auto;
    }
  }

  .area_saiba_mais {
    display: block;
    margin: 0 auto;
    color: $color-white;
    max-width: 420px;
    text-align: center;
    margin: 0 auto;

    h2 {
      font-weight: bold;
      font-size: 2rem;
      line-height: 3.4rem;
      margin: 10px 0;
      padding-top: 20px;
    }

    p {
      color: $color-white;
      font-size: 1.6rem;
      line-height: 2rem;
      margin-bottom: 35px;
    }

    a {
      background-color: $color-bright-red;
      color: $color-white;
      font-size: 1.6rem;
      line-height: 2rem;
      padding: 10px 22px;
      border-radius: 6px;
      transition: all 400ms ease-in;
      margin-top: 10px;

      &:hover {
        @include hoveBtn();
      }
    }
  }

  .area_links_rodape {
    padding: 0 0 60px 0;
    background-color: $color-off-white-alt;
    .grid {
      @include media(lg) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 0.3fr 1fr;
        gap: 20px;
      }
    }
    nav {
      h2 {
        font-weight: bold;
        font-size: 1.8rem;
        line-height: 2.4rem;
        text-align: left;
        color: $color-darker-gray;
        margin-bottom: 10px;
      }

      ul {
        padding-inline-start: 20px;

        li {
          list-style-type: disc;

          &::marker {
            color: $color-bright-red;
          }

          a {
            font-weight: normal;
            font-size: 1.7rem;
            line-height: 2.1rem;
            text-align: left;
            color: $color-darker-gray;
            transition: all 200ms ease-in;

            &:hover {
              color: $color-black;
            }
          }
        }
      }
    }

    .redes {
      ul {
        padding-inline-start: 0px;

        li {
          list-style-type: none;
          a {
            display: flex;
            align-items: center;
            gap: 10px;
            width: 100px;
            background-color: $color-white;
            padding: 4px;
            border-radius: 6px;
            margin-bottom: 10px;
            color: $color-bright-red;
            font-size: 1.2rem;

            i {
              position: relative;
              top: -2px;
              left: 4px;
            }
          }
        }
      }
    }
  }
  p {
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-align: center;
    color: $color-darker-gray;
  }
}
