.post {
  table {
    font-family: $font-family;
    width: 100%;
    border: none;
    border-spacing: 0;

    thead {
      tr {
        background-color: $color-light-red;

        th {
          color: $color-dark-gray;
          font-size: 1.2rem;
          line-height: 1.61;
          padding: 5px;
        }
      }
    }

    tbody {
      tr:nth-child(odd) {
        background-color: $color-off-white;
      }
      td {
        color: $color-dark-gray;
        font-size: 1.2rem;
        line-height: 1.61;
        padding: 5px;
      }
    }
  }
  a {
    color: $color-bright-red;
  }
  .data {
    font-size: 1.4rem;
    margin-bottom: 10px !important;
    color: $color-dark-gray !important;
  }

  .autor {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0;
    font-size: 1.4rem;
    img {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  h1 {
    font-weight: bold;
    font-size: 3rem;
    line-height: 3.4rem;
    text-align: left;
    color: $color-bright-red;
    // padding: 35px 0;

    @include media(lg) {
      font-size: 4rem;
      line-height: 4.4rem;
    }
  }

  h2 {
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 3.5rem;
    text-align: left;
    color: $color-bright-red;

    @include media(lg) {
      font-size: 3.5rem;
      line-height: 4.4rem;
    }
  }

  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    font-size: 2.1rem;
    line-height: 2.5rem;
    text-align: left;
    color: $color-bright-red;

    @include media(lg) {
      font-size: 2.8rem;
      line-height: 3.4rem;
    }
  }

  .post-text {
    color: $color-darker-gray;
    font-size: 1.6rem;
    line-height: 1.61;
    margin: 20px 0;
  }
  p:not(.item p),
  .swpm-post-not-logged-in-msg {
    color: $color-darker-gray;
    font-size: 1.6rem;
    line-height: 1.61;
    margin: 20px 0;
  }

  .item p {
    color: $color-darker-gray;
    font-size: 1.4rem;
    line-height: 1.61;
    margin: 20px 0;
  }
  .item p.paragrafo {
    display: inline !important;
    color: $color-darker-gray;
    font-size: 1.4rem;
    line-height: 1.61;
  }
  .item i {
    color: $color-darker-gray;
    font-size: 1.4rem;
    line-height: 1.61;
    font-size: initial;
    font-style: normal;
  }
  .item .img-post-archive {
    width: 100%;
    @include media(lg) {
      max-width: 320px;
    }
  }
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 9px;
    margin: 20px 0;
  }

  .post-thumbnail img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
    height: inherit;
    @include media(lg) {
      max-height: 450px;
    }
  }
  .img-post {
    // padding: 20px 0;
    border-radius: 10px;
  }

  ul {
    list-style-type: disc;
    padding-inline-start: 20px;
    li,
    ol {
      color: $color-darker-gray;
      font-size: 1.6rem;
      line-height: 1.61;
      margin: 20px 0;
    }
  }
}

#breadcrumbs {
  margin: 35px 0px 16px;

  a,
  span {
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 2.4rem;
    text-align: left;
    color: $color-darker-gray;
  }
}

.autor {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 2rem 0;
  font-size: 1.4rem;
  img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.search {
  h3 {
    font-size: 2.5rem;
    line-height: 3.5rem;
    text-align: left;
    color: $color-bright-red;
    margin-bottom: 20px !important;

    @include media(lg) {
      font-size: 3.5rem;
      line-height: 4.4rem;
    }
  }
  margin: 20px 0;
  display: flex;
  input[type="search"] {
    width: 100%;
    padding: 10px;
    font-size: 1.4rem;
    border-radius: 5px;
    border: 1px solid $color-light-gray;
    box-shadow: none;
    outline: none;
  }
  input[type="search"]::placeholder {
    color: $color-light-gray;
  }
  input[type="search"]:focus {
    border-color: $color-bright-red;
  }
  button {
    background-color: $color-bright-red;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.4rem;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;

    &:hover {
      background-color: darken($color-bright-red, 10%);
    }
  }
}
.search.current-item {
  display: none;
}
