.post {
  table {
    font-family: $font-family;
    width: 100%;
    border: none;
    border-spacing: 0;

    thead {
      tr {
        background-color: $color-light-red;

        th {
          color: $color-darker-gray;
          padding: 15px;
          font-size: 1.2rem;

          @include media(lg) {
            font-size: 1.4rem;
          }
        }
      }
    }

    tbody {
      td {
        color: $color-darker-gray;
        padding: 15px;
        font-size: 1.2rem;
        line-height: 2rem;
        padding: 25px;

        @include media(lg) {
          font-size: 1.4rem;
          line-height: 2.2rem;
        }
      }
    }
  }
  a {
    color: $color-bright-red;
  }
  .data {
    font-size: 1.6rem;
    font-weight: 700;
    padding-bottom: 1.4rem;
    display: block;
  }

  .autor {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0;
    img {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  h1 {
    font-weight: bold;
    font-size: 3rem;
    line-height: 3.4rem;
    text-align: left;
    color: $color-bright-red;
    padding-top: 50px;

    @include media(lg) {
      font-size: 4rem;
      line-height: 4.4rem;
    }
  }

  h2 {
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 3.5rem;
    text-align: left;
    color: $color-bright-red;

    @include media(lg) {
      font-size: 3.5rem;
      line-height: 4.4rem;
    }
  }

  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    font-size: 2.1rem;
    line-height: 2.5rem;
    text-align: left;
    color: $color-bright-red;

    @include media(lg) {
      font-size: 2.8rem;
      line-height: 3.4rem;
    }
  }

  p:not(.item p),
  .swpm-post-not-logged-in-msg {
    color: $color-darker-gray;
    font-size: 1.6rem;
    line-height: 1.61;
    margin: 20px 0;
  }

  .item p {
    color: $color-darker-gray;
    font-size: 1.4rem;
    line-height: 1.61;
    margin: 20px 0;
  }
  img:not(.autor img) {
    height: 225px;
    object-fit: cover;
    width: 100%;
    border-radius: 20px;
    @include media(lg) {
      height: 350px;
    }
  }

  ul {
    list-style-type: disc;
    padding-inline-start: 20px;
    li,
    ol {
      color: $color-darker-gray;
      font-size: 1.6rem;
      line-height: 1.61;
      margin: 20px 0;
    }
  }
}

#breadcrumbs {
  margin: 35px 0px 16px;

  a,
  span {
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 2.4rem;
    text-align: left;
    color: $color-darker-gray;
  }
}

.post-thumbnail {
  margin-bottom: 35px;
  img {
    width: 100% !important;
    object-fit: cover !important;
    border-radius: 20px !important;
  }
}
