.owl-carousel {
  position: relative;

  .owl-nav {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: -1;

    .owl-next {
      position: relative;
      left: 3%;
      z-index: 1;
    }

    .owl-prev {
      position: relative;
      right: 3%;
      z-index: 1;
    }

    button {
      i {
        color: $color-bright-red;
        font-size: 20px;
      }
    }
  }

  .owl-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 35px 0;

    button {
      width: 12px;
      height: 12px;
      border: 1px solid $color-bright-red !important;
      background-color: $color-white !important;
      border-radius: 50%;

      &.active {
        background-color: $color-bright-red !important;
      }
    }
  }
}
