.swpm-login-form-inner {
  max-width: 450px;
  padding-bottom: 35px;
  border: 1px solid #cfc8d8;
  padding: 20px;
  margin: 45px auto;
  text-align: left;
  border-radius: 5px;

  @include media(lg) {
    margin: 45px auto 90px;
  }
  .swpm-username-label,
  .swpm-password-label,
  .swpm-rember-label,
  .swpm_label {
    color: #221115;
    font-size: 1.6rem;
  }
  .swpm-reset-pw-error {
    font-size: 1.6rem;
  }
  .swpm-username-label,
  .swpm-password-label {
    padding-bottom: 5px;
  }
  .swpm-password-input,
  .swpm-username-input {
    input,
    .swpm-text-field {
      font-size: 1.6rem;
      width: 100%;
      height: 47px;
      padding: 10px 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
      margin-bottom: 15px;
    }
  }
  .swpm-login-submit {
    input {
      background-color: #f20030;
      border: none;
      color: #fff;
      font-size: 1.6rem;
      line-height: 2rem;
      padding: 10px 22px;
      border-radius: 6px;
      transition: all 400ms ease-in;
    }
  }
}

.swpm-pw-reset-widget-form {
  padding-bottom: 35px;
  border: 1px solid #cfc8d8;
  padding: 20px;
  margin: 45px auto;
  text-align: left;
  border-radius: 5px;

  @include media(lg) {
    margin: 45px auto 90px;
  }
  .swpm-pw-reset-text {
    font-size: 1.6rem;
    width: 100%;
    height: 47px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 15px;
  }
  .swpm-pw-reset-submit {
    background-color: #f20030;
    border: none;
    color: #fff;
    font-size: 1.6rem;
    line-height: 2rem;
    padding: 10px 22px;
    border-radius: 6px;
    transition: all 400ms ease-in;
  }
  label {
    color: #221115;
    font-size: 1.6rem;
  }
}
