@use "variables" as variable;

@mixin media($breakpoint) {
  @if $breakpoint =="xs" {
    @media (min-width: map-get(variable.$grid-breakpoints, xs)) {
      @content;
    }
  }

  @else if $breakpoint =="sm" {
    @media (min-width: map-get(variable.$grid-breakpoints, sm)) {
      @content;
    }
  }

  @else if $breakpoint =="md" {
    @media (min-width: map-get(variable.$grid-breakpoints, md)) {
      @content;
    }
  }

  @else if $breakpoint =="lg" {
    @media (min-width: map-get(variable.$grid-breakpoints, lg)) {
      @content;
    }
  }

  @else if $breakpoint =="xl" {
    @media (min-width: map-get(variable.$grid-breakpoints, xl)) {
      @content;
    }
  }

  @else if $breakpoint =="xxl" {
    @media (min-width: map-get(variable.$grid-breakpoints, xxl)) {
      @content;
    }
  }

  @else {
    @error "Invalid breakpoint: #{$breakpoint}.";
  }
}

@mixin paragraph() {
  font-family: variable.$font-family;
  font-size: 1.6rem;
  line-height: 1.21;
  color: variable.$secondary-color-gray;

  @include media(lg) {
    font-size: 1.8rem;
  }
}

@mixin FontSize($size, $family) {
  font-family: $family;

  @if $size ==14 {
    font-size: 14px;
  }

  @if $size ==16 {
    font-size: 16px;
  }

  @else if $size ==22 {
    font-size: 22px;
    line-height: 39.6px;
  }

  @else if $size ==26 {
    font-size: 26px;
  }

  @else if $size ==38 {
    font-size: 38px;
  }

  @else if $size ==48 {
    font-size: 48px;
  }

  @else if $size ==58 {
    font-size: 58px;
  }

  @else if $size ==64 {
    font-size: 64px;
  }

  @else {
    font-size: 14px;
  }
}

@mixin Inputsearch() {
  padding: 0 25px;
  display: flex;
  justify-content: center;
  height: 40px;
  width: 100%;

  input {
    width: 100%;
    background-color: $color-white;
    border: none;
    padding: 0 15px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    font-family: $font-family;
    font-size: 1.6rem;
  }

  input::placeholder {
    font-size: 1.6rem;
    color: $color-medium-gray;
    font-family: $font-family;
  }

  button {
    background-color: $color-white;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border: none;

    i {
      font-size: 1.6rem;
      margin-right: 15px;
      color: $color-bright-red;
    }
  }
}

@mixin VersaoMobile() {
  display: block;

  @include media(lg) {
    display: none;
  }
}

@mixin VersaoDesktop() {
  display: none;

  @include media(lg) {
    display: block;
  }
}

.bannerMobile {
  @include VersaoMobile();
}

.bannerDesktop {
  @include VersaoDesktop();
}

.bg-gray{
  background-color: $color-lightest-gray-alt;
}