// Neutras
$color-dark-gray: #222222;
$color-light-gray: #e1dbdb;
$color-medium-gray: #c5c5c5;
$color-off-white: #f1f1f1;
$color-lightest-gray: #e2e1e1;
$color-black: #000000;
$color-darker-gray: #221115;
$color-lightest-gray-alt: #f9f9f9;
$color-red-dark: #960025;

// Cores de destaque
$color-peach: #f9b679;
$color-bright-red: #f20030;
$color-light-red: #fef3f6;
$color-yellow: #ffff00;
$color-white: #ffffff;

// Cores alternativas
$color-off-white-alt: #efefef;

// Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$font-family: "Open Sans", sans-serif;
